/*CSS cho tất cả */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CSS cho thành phần chứa label, table, button */
.container{
    width: 689px;
    height: 450px;
    background-color: #d9d9d9;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

/*CSS cho bảng chứa các thông tin cần nhập */
table{
    padding-top: 30px;
    text-align: left;
    transform: translateX(70px);

}   

/*CSS cho các label Username, Old password, New password, Re-en new password */
label{
    font-size: 20px;
}

/*CSS cho các text-box của First Name, Last Name, Mail, Class*/
input[type='text'] {
    width: 192px; 
    height: 23px;
    background-color: #a39393; 
    border: none; 
    margin: 13px 0px 13px 18px;
}

/*CSS cho nút button CHANGE*/
#btn_homepage, #change-pass{
    display: block;
    margin: 0 auto;
    color: #fff;
    width: 122px;
    height: 44px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    transform: translateY(20px);
    margin: 0 auto;
    cursor: pointer;
}
