*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right, #155799, #159957);  */
    color:whitesmoke;
}

.container, .container-admin{
    position: relative;
    background-color: #8464c9;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
    border-radius: 12px;
}

.container{
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.container-admin{
    overflow: hidden;
    background: rgba(245, 245, 245, 0.767);
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    width: 468px;
    height: 320px;
}

svg{
    position: absolute;
    left: 4px;
    top: 4px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
}

table{
    padding-top: 30px;
    text-align: left;
}

/*CSS phần chung cho các dữ liệu đầu vào dạng text,pasword, email và Select Class*/
input[type='text'],
input[type="password"],
input[type='email'],
#yourClass{
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.733); 
    border: none; 
    padding-left: 5px;
}

/*CSS cho các phần riêng các option của select Class*/
#yourClass{
    font-size: 20px;
    text-align: center; 
}

/*CSS cho các lựa chọn lớp 10, lớp 11, lớp 12 của select Class */
option{
    font-size: 22px; 
    text-align: center;
}

/*CSS cho chữ của thẻ a*/
a{
    font-size: 18px;
    color: #a39393;
}

/*CSS cho nút Nam, Nữ, Khác */
input[type='radio']{
    width: 19px;
    height: 19px;
    margin: 13px 3px 13px 18px;
}

/*CSS cho phần đè lên nút Nam, Nữ, Khác */
input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 19px;
    position: relative;
    background-color: whitesmoke;
    content: '';
    display: inline-block;
    visibility: visible;
}

/*CSS selection cho nút Nam, Nữ ,Khác */
input[type='radio']:checked:after {
    width: 19px;
    height: 19px;
    border-radius: 19px;
    position: relative;
    background-color: rgb(34, 163, 142);
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='submit']{
    border-radius: 4px;
    width: 122px;
    height: 44px;
    background-color: black;
    color: white;
    border: none;
    font-size: 19px;
    display: block;
    transform: translateY(20px);
    margin: 0 auto;
}
  

.container-transform{
    position: absolute;
    left: -2.7px;
    bottom: -10px;
    display: inline-flex;
}

#COSTOMER, #ADMIN{
    text-decoration: none;
    width: 236px;
    height: 45px;
    line-height: 27px;
    padding: 10px 20px 5px 20px;
    margin: 12px 0px 10px 0px;
}

#COSTOMER{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
}

#ADMIN{
    background: linear-gradient(to right, #2A5470, #4C4177);
}

#COSTOMER > a, #ADMIN >a{
    text-decoration: none;
    display: block;
}

#COSTOMER > a{
    color: whitesmoke;
}

#ADMIN > a{
    color: black;
}