/*CSS cho tất cả trng*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*CSS cho đầu trang*/
header {
    background-color: #F0E68C;
    padding: 10px;
    text-align: center;
}
/*CSS cho phần chứa nội dung trong container-content*/
.container-content .box-content{
    position: absolute;
    width: 53.8%;
    height: 87.58%;
    top: 10%;
    transform: translateX(45%);
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-content{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.container {
    display: flex;
    height: 60vh;
    margin-bottom: 0;
}

.sidebar {
    flex: 1;
    background-color: yellowgreen;
    width: 20%;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #ccc;
}
.sidebar a.active {
    background-color: #ff9800;
    text-align: center;
    font-size: 20px;
}
input[type="submit"] {
text-align: center;
height: 30px;
padding: 5px 10px;
background-color: #f44336;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #d32f2f;
}
/* css question*/
#btnAddQuestion {
    float: right;
    height: 30px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    }

#btnAddQuestion:hover {
    background-color: #45a049;
}
td input[type="button"] {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
td input[type="button"]:hover {
    background-color: #45a049;
}
    
td input[type="button"]:active {
    background-color: #3e8e41;
}
/*css table*/
.tableStyle {
    border: none;
}
.tableStyle td {
    background-color: #f0e7da;
    padding: 5px;
}
#text{
    text-align: center;
}
.footer-container{
    margin-top:0;
}